*{
    margin: 0%;
    padding: 0%;
}
img{
    width: 100px;
    height: 100px;
}
ul a{
    display: flex;
    display: inline;
    text-decoration: none;
    color: black;
    text-align: right;
    margin-left: 180px;
    font-family: 'Times New Roman', Times, serif;
    
    
}
h1 p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
div h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}
.facturas1{
    width: 360px;
    height: 260px;
}
.parrafo1{
    text-align: left;
}
.iframe{
width: 480px;
height: 300px;
}
span{
    display: flex;
    text-align: center;

}
.pan2{
    width: 480px;
    height: 300px;
}
.div2{
    display: flex;
}
.p3{
  font-family: 'Times New Roman', Times, serif;
}
div h3{
    text-align: justify;
    
}
.section1{
    position: relative;
    display: flex;

}
.p1{
    text-align: center;
}
footer iframe{
    width: 400px;
    height: 250px;
}
footer p{
    display: inline;
    padding: 200px;
    position: relative;
    bottom: -100px;
    left: -60px;
}
.pr{
    text-align: center;
}
main img{
    width: 200px;
    height:180px ;
    margin: 9%;
}
.sp{
    text-align: center;
}
body{
    background-image: url(https://previews.123rf.com/images/teploleta/teploleta1507/teploleta150700232/42280315-mano-panader%C3%ADa-dibujado-patr%C3%B3n-de-fondo-sin-fisuras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.parrafo2{
    font-family: 'Times New Roman', Times, serif;
}
.div3{
    text-align: left;
    position: relative;
    top: -270px;
}
.titulo1{
    text-align: center;
}
.parrafo2{
    position: relative;
    right: -600px;
    top: -300px;
}
.parrafo3{
    position: relative;
    right: -600px;
    top: -300px;
}
.contacto{
    text-align: center;
    margin-top: 50px;
}
.iframe1{
    position: relative;
    right: -320px;
}
.div5{
    position: relative;
    right: -600px;
    top: -505px;
    left: 925px;
}
.iframe1{
    position: relative;
    top: -505px;
    right: -920px;
}
.iframe2{
    position: relative;
    right: -1115px;

}
.div6{
    position: relative;
    top: -300px;
}
.div7{
    padding-top: 50px;
}
.pan3{
    width: 600px;
    height: 500px;
    position: relative;
    right: -780px;
    top: -500px;
}
.parrafo4{
    text-align: left;
    position: relative;
    width: 910px;
    bottom: -100px;
    overflow: hidden;
}
.iframe3{
    position: relative;
    top: 0%;
    right: -1000px;
    width: 500px;
    height: 500px;
}
.div8{
    position: relative;
    top: -450px;

}
footer iframe{
    max-width: 500px;
}
div iframe{
    max-width: 500px;
}
.span2{
    display: flex;
}
.divv{
 display: flex;   
}
.div4{
    display:flex ;
}
@media (max-width:768px){
    .div4{
        flex-direction: column;
    }
    .div2{
        flex-direction: column;
    }
    .divv{
        flex-direction: column;
    }
    .ul{
        flex-direction: column;
    }
}
.ul{
    display: flex;
    list-style: none;
}